*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #EFEDDC;
    --secundary-color: #1F1F1F;
    --tertiary-color: #000000;
}

body{
    background-color: var(--primary-color);
    color: var(--secundary-color);
}

header{
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 999;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px var(--secundary-color);
    padding:1rem;
}

.burger,  #check{
    display: none;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-titulo li{
    cursor:default;
}

.nav-list{
    display:flex;
    gap: 2rem;
}

.nav-list li a{
    text-decoration: none;
    color: var(--secundary-color);
    padding:.5rem;
    transition: .2s ease;
}
.nav-list li a:hover{
    color: var(--tertiary-color)
}

.nav-list li a.nav-link-focus{
    background-color: var(--secundary-color);
    color: var(--primary-color); 
    border-radius: 5px;
}

.dark-mode-btn{
    background-color: var(--secundary-color);
    border: 1px solid var(--secundary-color);
    border-radius: 50%;
    cursor:pointer;
    padding: .5rem;
}

/***HERO***/

.hero{
    display: flex;
    justify-content: center;
    padding:3rem;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:75%;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 30%;
}

.hero-content-presentation{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

h1{
    font-size: 3rem;
    
}
.hero-content-presentation p{
    font-size: 1.5rem;
}

.hero-content-follow-me{
    display: flex;
    gap:1rem;
}

.hero-content-follow-me-icons{
    display: flex;
    gap:1rem;
}

.hero-icons{
    color:white;
    background-color: var(--secundary-color);
    border-radius: 50%;
    padding: .5rem;
    transition: .3s ease;
}

.hero-icons:hover{
    background-color: var(--tertiary-color)
}

.hero-content-btns{
    display: flex;
    gap:1rem;
}

.hero-content-btns button{
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    padding: 0.5rem;
    transition: .3s ease;
}

.view-cv-btn{
    background-color: var(--secundary-color);
    color: var(--primary-color);
}
.view-cv-btn:hover{
    background-color: var(--tertiary-color)
}
.hero-content-btns button.download-cv-btn{
    background-color: white;
    outline: 2px solid var(--secundary-color);
}
.download-cv-btn:hover{
    transform: translateY(-2px);
}

.hero-pic{
    aspect-ratio: 1/1;
    border: 5px solid var(--primary-color);
    box-shadow: 0 0 10px var(--secundary-color);
    background-image: url("../assets/img/cara.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -25px;
    border-radius: 50%;
    width:300px;
    height: 300px;
}

/***ABOUT ME***/

.about-me{
    display: flex;
    justify-content: center;
    padding:3rem;
}

.about-me-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:75%;
}

h2{
    text-align: center;
    margin-bottom: 5rem;
}

.about-me-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me-content-pic{
    background-image: url("../assets/img/cara-2.jpeg");
    background-size: cover;
    border:5px solid white;
    box-shadow: 0 0 5px var(--tertiary-color);
    height: 350px;
    width: 300px;
}

.about-me-content-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    gap:1.5rem;
    padding:2rem;
}

.content-description-part-one{
    display: flex;
    gap: 1rem;
}

.who-i-am, .my-approach{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.who-i-am-title-container, .my-approach-title-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content-description-part-one i,
.content-description-part-two i{
    background-color: var(--secundary-color);
    border-radius: 6px;
    color:var(--primary-color);
    padding: 1rem;
}

.content-description-part-two{
    display: flex; flex-direction: column;
    gap:1rem;
}

.personal-info-list{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}
.personal-info-list > :nth-child(5) {
    grid-column: span 2;
}

.personal-info-item{
    display: flex;
    align-items: center;
    gap:1rem;
}

/***MY PROJECTS***/

.my-projects{
    display: flex;
    justify-content: center;
    padding:3rem;
}

.my-projects-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:75%;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
}

.projects-item{
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--tertiary-color);
    display: flex; flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding:1rem;
}

.projects-item-img{
    background-color: var(--secundary-color);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width:100%; height: 200px;
    transition: .3s ease;
}


.text-container{
    border-radius: 6px;
    box-shadow: 0 0 2px var(--secundary-color);
    padding:.3rem;
    height:30%;
}

.todo-list{
    background-image: url("../assets/img/todo.png");
}
.app{
    background-image: url("../assets/img/appmovil.jpeg");
}
.coshita{
    background-image: url("../assets/img/coshita.png");
}

.projects-item-details{
    display: fleX;
    flex-direction: column;
    gap:1rem;
}


.projects-item-langs ul{
    display: flex;
    gap:1rem;
    list-style: none;
}

.projects-item-langs ul li{
    padding: .5rem;
    border-radius:1rem;
    cursor: default;
}
.asp-li{
    background-color:dodgerblue;
    color: var(--primary-color);
}
.mysql-li{
    background-color: peru;
    color: var(--primary-color);
}
.bootstrap-li{
    background-color: darkslateblue;
    color: var(--primary-color);
}
.flutter-li{
    background-color:cornflowerblue;
    color: var(--primary-color);
}
.js-li{
    background-color:goldenrod;
}

.projects-item-bts{
    display: flex;
    gap:1rem;
    margin-top: 2rem;
}

.projects-item-bts button{
    border: 1px solid var(--secundary-color);
    border-radius: 6px;
    cursor: pointer;
    padding:.5rem;
    transition: .15s ease;
}
.github-btn{
    background-color: var(--secundary-color);
    color: var(--primary-color);
}
.github-btn:hover{
    background-color: var(--tertiary-color);
}
.demo-btn{
    background-color:var(--primary-color);
}
.demo-btn:hover{
    background-color: white;
}

/***SKILLS***/

.skills{
    display: flex;
    justify-content: center;
    padding:3rem;
}

.skills-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    justify-content: space-between;
    width:75%;
}

.skills-content{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
    width :100%;
    height: 650px;
    box-shadow: 0 0 5px var(--secundary-color);
    padding:1rem;
}

.skills-content-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-items: center;
    gap:2rem;
    width: 50%;
    height: 100%;
}

.skills-grid-card{
    box-shadow: 0px 0px 5px var(--secundary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    width: 100%;
    padding: 1rem;
}

.skills-grid-card img{
    aspect-ratio: 1/1;
    object-fit: contain;
}

.ultimo{
    height: 50%;
}

.skills-content-description{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 50%;
}

.skills-pagination{
    display:flex;
    align-items: center;
    gap:1rem;
}

.skills-pagination button{
    cursor: pointer;
    padding:.2rem .4rem;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    border: 0;
    font-size: 1.2rem;
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/***CONTACT ME***/

.contact-me{
    display: flex;
    justify-content: center;
    padding:3rem;
}

.contact-me-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:75%;
}

.contact-me-division{
    display: flex;
    justify-content: space-between;
    gap:5rem;
    width:100%;
}

.contact-me-socials{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:50%;
}

.contact-me-socials a{
    color: var(--secundary-color);
    text-decoration: none;
}

.contact-me-social-item{
    border-radius: .5rem;
    box-shadow: 0 0 10px var(--tertiary-color);
    cursor: pointer;
    display:flex;
    padding:1rem;
    transition: .3s ease;
}
.contact-me-social-item:hover{
    transform: translateY(-3px);
}

.social-item-details{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.contact-me-form{
    border-radius: .5rem;
    box-shadow: 0 0 10px var(--tertiary-color);
    display:flex; flex-direction: column;
    flex:1;
    gap:1rem;
    padding:1rem;
}

.contact-me-form-title-container{
    display: flex;
    align-items: center;
    gap:1rem;
}

.contact-me-form form{
    display: flex; flex-direction: column;
    gap:1rem;
}

input, textarea{
    padding:.5rem;
}

.contact-me-form button{
    background-color: var(--secundary-color);
    color: var(--primary-color);
    border: 0;
    cursor: pointer;
    padding: .5rem 1rem;
    transition: .15s ease;
}
.contact-me-form button:hover{
    background-color:var(--tertiary-color);
}