*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

:root{
    --primary-color: #EFEDDC;
    --secundary-color: #00050A;
}

body{
    background-color: var(--primary-color);
}

nav{
    box-shadow: 0px 0px 5px var(--secundary-color);
    padding:1rem;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-list{
    display:flex;
    gap: 2rem;
}
.nav-list li{
    padding:.5rem;
}

/***HERO***/

.hero{
    display: flex;
    justify-content: center;
    padding:3rem;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:75%;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 30%;
}

.hero-content-presentation{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

h1{
    font-size: 3rem;
    
}

.hero-content-follow-me{
    display: flex;
    gap:1rem;
}

.hero-content-follow-me-icons{
    display: flex;
    gap:1rem;
}

.hero-content-btns{
    display: flex;
    gap:1rem;
}

.hero-pic{
    aspect-ratio: 1/1;
    border: 5px solid var(--primary-color);
    box-shadow: 0 0 10px var(--secundary-color);
    background-image: url("../assets/img/cara.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width:300px;
    height: 300px;
}

/***ABOUT ME***/

.about-me{
    display: flex;
    justify-content: center;
    padding:3rem;
}

.about-me-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:75%;
}

h2{
    text-align: center;
    margin-bottom: 5rem;
}

.about-me-content{
    display: flex;
    justify-content: space-between;
}

.about-me-content-pic{
    background-image: url("../assets/img/cara-2.jpeg");
    background-size: cover;
    border:5px solid white;
    box-shadow: 0 0 5px black;
    height: 350px;
    width: 300px;
}

.about-me-content-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.content-description-part-one{
    display: flex;
    gap: 1rem;
}

.who-i-am, .my-approach{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.content-description-part-two{
    display: flex; flex-direction: column;
    gap:1rem;
}

.personal-info-list{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: .5rem;
}

/***MY PROJECTS***/

.my-projects{
    display: flex;
    justify-content: center;
    padding:3rem;
}

.my-projects-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:75%;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
}

.projects-item{
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
    display: flex; flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding:1rem;
}

.projects-item-img{
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 200px;
    
}

.todo-list{
    background-image: url("../assets/img/todo.png");
}
.app{
    background-image: url("../assets/img/appmovil.jpeg");
}
.coshita{
    background-image: url("../assets/img/coshita.png");
}

.projects-item-details{
    display: fleX;
    flex-direction: column;
    gap:1rem;
}


.projects-item-langs ul{
    display: flex;
    gap:1rem;
    list-style: none;
}

.projects-item-langs ul li{
    padding: .5rem;
}

.projects-item-bts{
    display: flex;
    gap:1rem;
}
    